@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{text-decoration:none;}

body{
    height:100vh;
    background-color:#f1f1f1;
    font-family: 'Inter', sans-serif;
}

header {
    display:flex;
    justify-content:center;
    height:80px;
    background-color:#0099ff;
}

.container {
    display:flex;
    justify-content:space-between;
    width:100%;
    flex-wrap: wrap;
}

header .container .logo {
    display:flex;
    align-items:center;
    margin-left:60px;
}

header .container .text {
    display:flex;
    align-items: center;
    margin-right:60px;
    color:#ffffff;
    text-transform:uppercase;
    font-size:24px;
}

.container .container_form {
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    width:780px;
    margin-top:60px;
}

.container_form textarea{
    width: 80%;
    padding: 10px;
    margin-top: 60px;
    margin-left: 10%;
    margin-bottom: 10px;
    border: 0;
    outline:none;
    resize:none;
}

.container_form textarea::placeholder {
    font-size:24px;
    text-transform:uppercase;
}

.container_form #typed_text {
    text-transform:lowercase;
    font-size:24px;
    font-weight:400;
}

.container_form span {
    margin-left:10%;
    margin-bottom:5%;
}

.form_buttons {
    display:flex;
    justify-content: center;
    flex-direction: end;
}

.form_buttons button{
    background-color:#3611da;
    width:180px;
    height:60px;
    color: #ffffff;
    font-size:20px;
    border-radius: 10px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.form_buttons button:hover {
    background-color:#3174da;
}

.form_buttons .btn_descrypt{
   margin-left: 24px; 
}

.form_buttons .btn_copy {
    margin-left: 24px; 
}

.container .observer {
    width:400px;
    height:700px;
    border-radius: 32px;
    border: solid 1px #c5c5c5;
    margin-right:120px;
    margin-top: 60px;
    margin-bottom:48px;
    overflow-wrap: break-word;
}

.container .observer img {
    margin-top: 64px;
    margin-left: 32px;
}

.observer .observer_message {
    margin: 0 auto;
    width:380px;
    height:200px;
    border: 1px solid #c5c5c5;
    margin-top:50px;
    text-align:center;
}

.observer .observer_message h2  {
   margin-top:8px; 
   margin-bottom: 8px;
}

.observer .observer_message span {
    font-weight:400;
    font-size:20px;
    color:#000;
}


.rodape {  
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height:10vh;
    background:#023047;
    color:#ffffff;
}
.rodape a {
    margin-left: 10px;
    margin-right:10px;
    color:#ffffff;
}
.rodape span {
    color: #fff;
    font-weight: bold;
}


.rodape p {
    color:#ffffff;
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    .container .container_form {
        margin-left:15%;
    }

    .container_form textarea::placeholder{
        font-size:20px;
    }

    .form_buttons button{
        width:150px;
        height:60px;
        font-size:16px;
    }
    .container .observer{
       margin-left:30%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .container .container_form {
        margin-left:10%;
    }
    .container_form textarea::placeholder{
        font-size:20px;
    }
    .form_buttons button{
        width:150px;
        height:60px;
        font-size:16px;
    }
    .container .observer{
        margin-left:30%;
     }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .container .container_form {
        margin-left:10%;
    }
    .container_form textarea::placeholder{
        font-size:20px;
    }
    .form_buttons button{
        width:150px;
        height:60px;
        font-size:16px;
    }
    .container .observer{
        margin-left:25%;
     }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    header {
        height:auto;
        padding:14px;
    }
    header .container .logo{
        margin: 0 auto;
    }
    header .container .text {
        font-size: 20px;
        margin: 0 auto;
        margin-top:10px;
    }
     .container_form textarea {
        width:65%;
        height:60%;
    }
    .container_form textarea::placeholder {
        font-size:20px;
    }

    .container_form span {
        margin-left:10%;
    }
   .form_buttons {
        flex-direction:column;
    }
     .form_buttons .btn_encrypt {
        margin-left:30%;
    }
     .form_buttons .btn_descrypt {
        margin-left:30%;
        margin-top:30px;
        margin-bottom:30px;
    }
    .form_buttons .btn_copy {
        margin-left:30%;
    }
    .container .observer{
        margin-left:12%;
        border:0;
        height:auto;
    }
    .container .observer img {
        display:none;
    }
    .observer_message {
        justify-content:center;
        padding:0;
        width:280px;
        height:100px; 
    }
    .observer .observer_message h2 {
        font-size:16px;
    }
    .observer .observer_message span {
        font-size:16px;
    }
}
 
@media only screen and (min-width: 360px) and (max-width: 639px){
    header {
        height:auto;
        padding:14px;
    }
    header .container .logo{
        margin: 0 auto;
    }
    header .container .text {
        font-size: 20px;
        margin: 0 auto;
        margin-top:10px;
    }
     .container_form textarea {
        width:80%;
        height:60%;
    }
    .container_form textarea::placeholder {
        font-size:20px;
    }

    .container_form span {
        margin-left:10%;
    }
   .form_buttons {
        flex-direction:column;
    }
     .form_buttons .btn_encrypt {
        margin-left:30%;
    }
     .form_buttons .btn_descrypt {
        margin-left:30%;
        margin-top:30px;
        margin-bottom:30px;
    }
    .form_buttons .btn_copy {
        margin-left:30%;
    }
    .container {
        display:flex;
        justify-content:center;
    }
    .container .observer{
        width: 255px;
        margin-left:0;
        border:0;
        height:auto;
    }
    .container .observer img {
        display:none;
    }
    .observer_message {
       margin-left:5px;
        width:120px;
        height:100px; 
    }
    .observer .observer_message h2 {
        font-size:20px;
    }
    .observer .observer_message span {
        font-size:20px;
    }
}

@media only screen and (min-width:320px ) and (max-width: 359px){
    header {
        height:auto;
        padding:14px;
    }
    header .container .logo{
        margin: 0 auto;
    }
    header .container .text {
        font-size: 16px;
        margin: 0 auto;
        margin-top:10px;
    }
     .container_form textarea {
        width:80%;
        height:60%;
    }
    .container_form textarea::placeholder {
        font-size:20px;
    }

    .container_form span {
        margin-left:10%;
    }
   .form_buttons {
        flex-direction:column;
    }
     .form_buttons .btn_encrypt {
        margin-left:30%;
    }
     .form_buttons .btn_descrypt {
        margin-left:30%;
        margin-top:30px;
        margin-bottom:30px;
    }
    .form_buttons .btn_copy {
        margin-left:30%;
    }
    .container {
        display:flex;
        justify-content:center;
    }
    .container .observer{
        width: 255px;
        margin-left:0;
        border:0;
        height:auto;
    }
    .container .observer img {
        display:none;
    }
    .observer_message {
       margin-left:5px;
        width:120px;
        height:100px; 
    }
    .observer .observer_message h2 {
        font-size:20px;
    }
    .observer .observer_message span {
        font-size:20px;
    }
    .rodape {
        display:block;
        text-align:center;
        padding: 15px 0;
    }
    .rodape p {
        margin-top: 20px;
    }
}